HF_KEY=your_huggingface_router_api_key
HF_MODEL=HuggingFaceH4/zephyr-7b-beta
GOOGLE_API_KEY=your_google_api_key
CORS_ORIGINS=https://sasta-notebook-lm-frontend-nkvxh9b6e.vercel.app/
QDRANT_URL = your_qdrant_url
QDRANT_API_KEY = your_qdrant_api
